In [1]:
from random import seed
from random import randrange 
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
import statistics as stat
from sklearn import svm
from sklearn.metrics import accuracy_score

/home/abhishek/anaconda/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/abhishek/anaconda/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
df = pd.read_csv('movie_metadata.csv')

In [3]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [4]:
df.shape

(5043, 28)

In [5]:
print(len(df[round(df['imdb_score'])==1.0]))
print(len(df[round(df['imdb_score'])==2.0]))
print(len(df[round(df['imdb_score'])==3.0]))
print(len(df[round(df['imdb_score'])==9.0]))

df=df[round(df['imdb_score'])!=1.0]
df=df[round(df['imdb_score'])!=2.0]
df=df[round(df['imdb_score'])!=3.0]
df=df[round(df['imdb_score'])!=9.0]

0
20
70
48

In [6]:
df.shape

(4905, 28)

In [7]:
df = df.dropna()

In [8]:
df.shape

(3682, 28)

In [9]:
columnstoencode = list(df.select_dtypes(include = ['category','object']))
le = LabelEncoder()
for feature in columnstoencode:
    try : 
        df[feature] = le.fit_transform(df[feature])
    except : 
        print('Error encoding'+feature)
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,1,608,723.0,178.0,0.0,855.0,994,1000.0,760505847.0,90,...,3054.0,9,43,7,237000000.0,2009.0,936.0,7.9,1.78,33000
1,1,527,302.0,169.0,563.0,1000.0,1569,40000.0,309404152.0,85,...,1238.0,9,43,7,300000000.0,2007.0,5000.0,7.1,2.35,0
2,1,1374,602.0,148.0,0.0,161.0,1768,11000.0,200074175.0,106,...,994.0,9,42,7,245000000.0,2015.0,393.0,6.8,2.35,85000
3,1,243,813.0,164.0,22000.0,23000.0,380,27000.0,448130642.0,238,...,2701.0,9,43,7,250000000.0,2012.0,23000.0,8.5,2.35,164000
5,1,58,462.0,132.0,475.0,530.0,1809,640.0,73058679.0,104,...,738.0,9,43,7,263700000.0,2012.0,632.0,6.6,2.35,24000

In [12]:
X = df
y = round(X['imdb_score'])

X = X.drop(['imdb_score'], axis = 1)
scaler=StandardScaler()
X = scaler.fit_transform(X)
y = np.array(y).astype(int)

X_train, X_test , y_train, y_test = train_test_split(X,y,test_size= 0.3, random_state = 1)

In [14]:
clf = svm.SVC()
clf.fit(X_train, y_train)
clf.predict(X_test)

prediction = clf.predict(X_test)
print(accuracy_score(y_test, prediction))

0.5113122171945701

In [19]:
def subsample(X_train, y_train, ratio) : 
    X_sample = list()
    y_sample = list()
    n_sample = round(len(X_train)*ratio)
    
    while len(X_sample) < n_sample:
        index = randrange(len(X_train))
        X_sample.append(X_train[index])
        y_sample.append(y_train[index])
    X_sample_np = np.asarray(X_sample)
    y_sample_np = np.asarray(y_sample)
    return (X_sample_np,y_sample_np)

def bagging_predict_soft_voting(models,row):
    pred = list()
    for i in range(len(models)):
        pred.append(models[i].predict_proba(row.reshape(1,-1)))
    finalprob = np.zeros((5,))
    for i in range(len(pred)):
        finalprob = finalprob + pred[i][0]
    final_class = finalprob.argmax(axis=-1) 
    return final_class

def bagging(X_train,y_train, X_test, sample_size, n_estimators):
    models = list()
    for i in range(n_estimators):
        X_sample_np , y_sample_np = subsample(X_train, y_train,sample_size)
        model = svm.SVC(probability=True)
        model.fit(X_sample_np, y_sample_np)
        models.append(model)
    predictions = [bagging_predict_soft_voting(models, row) for row in X_test]
    return(predictions)

In [20]:
predictions=bagging(X_train,y_train,X_test,0.7,1)

total=np.sum([y_test[i]==(predictions[i]+4) for i in range(len(predictions))])

print("Accuracy:",total,"/",len(predictions),"* 100 =","{0:.3f}".format(total/len(predictions)*100),"%")

Accuracy: 530 / 1105 * 100 = 47.964 %

In [21]:
predictions=bagging(X_train,y_train,X_test,0.7,2)

total=np.sum([y_test[i]==(predictions[i]+4) for i in range(len(predictions))])

print("Accuracy:",total,"/",len(predictions),"* 100 =","{0:.3f}".format(total/len(predictions)*100),"%")

Accuracy: 544 / 1105 * 100 = 49.231 %

In [22]:
predictions=bagging(X_train,y_train,X_test,0.7,5)

total=np.sum([y_test[i]==(predictions[i]+4) for i in range(len(predictions))])

print("Accuracy:",total,"/",len(predictions),"* 100 =","{0:.3f}".format(total/len(predictions)*100),"%")

Accuracy: 559 / 1105 * 100 = 50.588 %

In [23]:
predictions=bagging(X_train,y_train,X_test,0.7,15)

total=np.sum([y_test[i]==(predictions[i]+4) for i in range(len(predictions))])

print("Accuracy:",total,"/",len(predictions),"* 100 =","{0:.3f}".format(total/len(predictions)*100),"%")

Accuracy: 572 / 1105 * 100 = 51.765 %

In [24]:
from sklearn.ensemble import BaggingClassifier
model = BaggingClassifier(svm.SVC(),n_estimators=20,random_state=1)
model.fit(X_train, y_train)
model.score(X_test,y_test)

/home/abhishek/anaconda/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

0.502262443438914